.footer {
    background: rgba(0,0,0,0.3);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
  }